$primary-color: #40E0D0;
$primary-color-dark: #00ad9f;
$primary-color-light: #7fffff;
$secondary-color: #1A3440;
$secondary-color-dark: #000d1a;
$secondary-color-light: #445e6b;
$gray-color: #bdbdbd;
$gray-color-light: #efefef;
$gray-color-dark: #8d8d8d;
$error-color: #ef5350;